<!doctype html>
<html lang="en">
    {% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{blog_detail.title}} - Esmaeel Komijani</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'album.css' %}">
    <!-- Custom styles for this template -->
  
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Hello my name is Esmaeel Komijani and I am 
                            a freelancer front-end coder, i know how to use vuejs and i am learning 
                            reactjs too, i am also learning how to use python and django to 
                            become a good full-stack developer, I know i can do it :).</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact Me</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% static 'EsmaeelKomijani-resume.pdf' %}" class="text-white"
                                 target="_blank">Resume</a>
                            </li>
                            <li>
                                <a href="{% url 'allblogs' %}" class="text-white">Blog</a>
                            </li>
                            <li>
                                <a href="http://esmaill.blog.ir" class="text-white"
                                 target="_blank">Main Website</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                    <strong><code>
                        < />
                    </code></strong>
                    <strong>Esmaeel Komijani</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <div class="container">
            <header class="text-center pt-5 pb-5">
                <h1>{{blog_detail.title}}</h1>
                <small>{{blog_detail.pub_date}}</small>
            </header>
            <section class="">
                
                <hr>
                <div class="row">
                    <div class="image-container">
                        <img class="img-fluid mx-auto d-block" src="{{blog_detail.image.url}}" alt="image of {{blog_detail.title}}">
                    </div>
                    
                    <div class="pt-5">
                        <p>
                            <strong>post summary: {{blog_detail.summary}}</strong>
                        </p>
                        <p>
                            {{blog_detail.body}}
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p class="text-center">EsmaeelKomijani &copy; {% now "Y" %}
                <br> This website is based on django</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="./holder.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>